/* pc */
@media (min-width: 992px) {
}

/* tablet & mobile */
@media (max-width: 991.98px) {
  /* 1. an navbar tren tablet va mobile */
  .navbar {
    display: none;
  }
  /* 2. chuyen logo vao giua */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }

  /* 3. can lai vi tri cua menu icon */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 27px;
    color: #fff;
    width: 24px;
  }

  /*4.overlay */
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    /* binh thuong an lop phu di */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  /* 5. kiem tra neu checkbox duoc check thi hien overlay */
  #menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* mobile */
@media (min-width: 767.98px) {
}

.hero,
.footer,
main {
  display: none;
}
